.comment {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  padding: 20px 25px;
  border-bottom: 1px solid $color-gray-extra-light;

  &:last-of-type {
    border-bottom: none;
  }
}

.comment__photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.comment__details {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 100%;
}

.comment__meta {
  display: flex;
  justify-content: space-between;
}

.comment__author {
  color: $color-blue-dark;
}

.comment__date {
  color: $color-gray;
}

.comment__content {
  margin-bottom: 0;
  line-height: 22px;
}
