// ==========================
// Colors:
// ==========================

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: rgba(0, 0, 0, 0);

$color-orange: #FFA640;
$color-red: #FF0000;
$color-blue-dark: #002C71;
$color-blue-light: #8298B9;

$color-gray-dark: #35342f;
$color-gray: #979797;
$color-gray-light: #D9D9D9;
$color-gray-extra-light: #EBEBEB;


// ==========================
// Breakpoints:
// ==========================

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;


// ==========================
// Fonts:
// ==========================

$font-size-big: 24px;
$font-size-medium: 18px;
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-extra-small: 10px;


// ==========================
// Utilities:
// ==========================

$border-radius: 5px;
$border-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
